@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <nav class="navbar-expand-lg fixed-top flex-wrap align-items-center justify-content-center justify-content-lg-start" aria-label="Main navigation" style="background-color: #e35d6a">
            <NavMenu />
        </nav>
        <article class="content position-relative overflow-hidden p-md-5 m-md-3">
            @Body
        </article>
    </main>
</div>