<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="container">
        <div class="navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <NavLink class="nav-link link-dark" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link link-dark" href="store">
                        <span class="oi oi-plus" aria-hidden="true"></span> Shop
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link link-dark" href="product/all">
                        <span class="oi oi-plus" aria-hidden="true"></span> Products List
                    </NavLink>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light me-1" type="submit">Search</button>
            </form>
            <BSButton Color="BSColor.Secondary" Target="CartModal" class="btn oi oi-cart me-1 m-1 btn-cart"/>
            <BSButton Color="BSColor.Primary" Target="LoginModal" class="btn me-1 m-1">Login</BSButton>
        </div>
    </div>
</div>
<BSModal DataId="LoginModal">
    <Content><Login/></Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Close</BSButton>
    </Footer>
</BSModal>
<BSModal DataId="CartModal">
    <Content><Cart/></Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Close</BSButton>
    </Footer>
</BSModal>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
